\.venv
/.venv/
__pycache__/
*.pyc  
./venv/
.env
.env.*
.idea/
.vscode/
.DS_Store
logs/
*.log
.venv/
venv/
/output/
*/__pycache__/


live/__pycache__/presentation_text.cpython-312.pyc
live/__pycache__/stats_engine.cpython-312.pyc
